.home-container {
  background-color: #252121;
  min-height: 100vh;
  padding-top: 36px;
}

@media screen and (min-width: 768px) {
  .home-container {
    padding-top: 96px;
  }
}

.movie-item-container {
  display: flex;
  justify-content: center;
}

.movie-item-list {
  padding-left: 0;
  width: 90%;
  max-width: 1140px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-top: 64px;
}

.pagination-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.pagination-number {
  color: #ffffff;
  font-family: 'Roboto';
  font-size: 18px;
  margin-right: 10px;
  margin-left: 10px;
}

.pagination-button {
  border: 1px solid #ffffff;
  background-color: transparent;
  color: #ffffff;
  padding: 8px 20px;
  border-radius: 8px;
  font-family: 'Roboto';
  cursor: pointer;
}

.loader-container {
  min-height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
